@charset "UTF-8";
@import url(../fonts/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  min-width: 320px;
  position: relative;
}

article,
aside,
details,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.hidden,
[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

a img {
  border: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  text-transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  background-clip: padding-box;
  background-color: transparent;
}

button,
html input[type='button'] {
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

input[type='checkbox'], input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

textarea {
  resize: none;
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 0;
}

.clearfix {
  clear: both;
}

.headingComponent, h3, h4, h5, .not_found h1 {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #FFFFFF;
}

h3 {
  font-size: 52px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 24px;
}

.caption, .offwork .offwork_btn {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #FFFFFF;
}

.feature_block {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 166px;
      -ms-flex: 0 0 166px;
          flex: 0 0 166px;
  height: 166px;
  background: #252525;
  border: 1px solid #414141;
  border-radius: 6px;
  margin-right: 24px;
  padding: 32px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.feature_block .caption, .feature_block .offwork .offwork_btn, .offwork .feature_block .offwork_btn {
  display: block;
}

.feature_block:hover {
  border-color: #CF5208;
}

.feature_block:active {
  border-color: #802F00;
}

@media (max-width: 1200px) {
  .feature_block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 140px;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
    height: 140px;
    padding: 26px 20px;
  }
  .feature_block h5 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .feature_block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    height: 120px;
    padding: 22px 18px;
    margin-right: 18px;
  }
}

@media (max-width: 640px) {
  .feature_block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 135px;
        -ms-flex: 0 0 135px;
            flex: 0 0 135px;
    height: 135px;
    padding: 16px;
    margin-right: 12px;
  }
}

.btn {
  display: inline-block;
  padding: 15px 24px;
  background: #252525;
  border: 1px solid #414141;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  position: relative;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.btn:hover {
  border-color: #CF5208;
}

.btn:active {
  border-color: #802F00;
}

.btn-White {
  background-color: #fff;
  color: #252525;
}

.btn-rightArr {
  padding-left: 60px;
}

.btn-rightArr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 16px;
  background-image: url(../img/icons/arrow-right.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 33px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn-rightArr:hover::before {
  left: 38px;
}

.btn-customIcon {
  padding-left: 60px;
  min-height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-customIcon span {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-customIcon:hover::before {
  left: 38px;
}

.btn-leftArrB {
  padding-left: 60px;
}

.btn-leftArrB::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 16px;
  background-image: url(../img/icons/left-arrow-black.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 33px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn-leftArrB:hover::before {
  left: 28px;
}

.btn-Gallery {
  padding-left: 60px;
}

.btn-Gallery::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/navigation.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn-Download {
  padding-left: 60px;
}

.btn-Download::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/download.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media (max-width: 480px) {
  .btn {
    font-size: 14px;
  }
}

.link {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #FFFFFF;
  display: inline-block;
  padding: 4px 0;
  border-bottom: 1px solid #414141;
  -webkit-transition: 0.3 ease;
  -o-transition: 0.3 ease;
  transition: 0.3 ease;
}

.link:hover {
  border-color: #CF5208;
}

.link:active {
  border-color: #802F00;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideUpFeat {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUpFeat {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

body {
  color: #fff;
  font-size: 16px;
  font-family: "TT Norms";
  font-weight: normal;
  font-style: normal;
  background-color: #1E1E1E;
}

.box {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 44px;
}

@media (max-width: 1024px) {
  .box {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .box {
    padding: 0 16px;
  }
}

main {
  position: relative;
  overflow: hidden;
}

header {
  padding: 20px 0;
  z-index: 10;
  opacity: 0;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

header .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .logo_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .logo_block .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 16px;
}

header .logo_block .logo .logo_img {
  width: 46px;
  height: 46px;
  min-width: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
  background: #252525;
  border: 1px solid #414141;
  border-radius: 50%;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .logo_block .logo .logo_img:hover {
  border-color: #CF5208;
}

header .logo_block .logo .logo_img:active {
  border-color: #802F00;
}

header .logo_block .logo span {
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

header .logo_block nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .logo_block nav ul li {
  margin-right: 16px;
}

header .logo_block nav ul li a {
  line-height: 1.5;
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 1px solid #414141;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .logo_block nav ul li a:hover {
  border-color: #CF5208;
}

header .logo_block nav ul li a:active {
  border-color: #802F00;
}

header .logo_block .status {
  padding-left: calc(46px + 16px);
  margin-top: -10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

header .logo_block .status span {
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  margin-left: 16px;
  position: relative;
  border-bottom: 1px solid #414141;
  padding-bottom: 4px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .logo_block .status span::before {
  content: '';
  position: absolute;
  background-image: url(../img/icons/status.svg);
  width: 7px;
  height: 18px;
  background-size: auto;
  background-position: center;
  left: -16px;
  top: 0;
}

header .logo_block .status:hover span {
  border-color: #CF5208;
}

header .nav_toggle {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px;
}

header .nav_toggle span {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .nav_toggle span:before, header .nav_toggle span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #252525;
  top: calc(50% - 1px);
  left: 0;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  opacity: 0;
}

header.slideUp {
  -webkit-animation: slideUp 0.3s ease forwards;
          animation: slideUp 0.3s ease forwards;
  visibility: hidden;
}

header.slideDown {
  -webkit-animation: slideDown 0.3s ease 0s forwards;
          animation: slideDown 0.3s ease 0s forwards;
  visibility: visible;
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@media (max-width: 1440px) {
  header {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  header .box {
    position: relative;
  }
  header .logo_block .logo {
    position: relative;
    margin-right: 0;
    width: 100%;
    padding: 0 50px;
    min-height: 46px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .logo_block .logo .logo_img {
    position: absolute;
    left: 0;
    top: 0;
  }
  header .logo_block .logo span {
    width: 100%;
    text-align: center;
  }
  header .logo_block nav {
    display: none;
  }
  header .logo_block .status {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-top: 0;
  }
  header .nav_toggle {
    position: absolute;
    right: 15px;
    top: 8px;
  }
}

.header_drawer_overlay {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  left: -100%;
  z-index: 10;
}

.header_drawer {
  position: fixed;
  width: 50%;
  top: 0;
  bottom: 0;
  background: #fff;
  right: -50%;
  -webkit-transition: 0.4s ease 0s;
  -o-transition: 0.4s ease 0s;
  transition: 0.4s ease 0s;
  z-index: 15;
  padding: 95px 125px;
  overflow: auto;
}

.header_drawer-close {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px;
  position: absolute;
  left: 0%;
  -webkit-transform: translateX(650px);
      -ms-transform: translateX(650px);
          transform: translateX(650px);
  top: 45px;
  cursor: pointer;
}

.header_drawer-close span {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header_drawer-close span:before, .header_drawer-close span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #252525;
  top: calc(50% - 1px);
  left: 0;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  opacity: 0;
}

.header_drawer h5 {
  color: #252525;
  margin-bottom: 24px;
}

.header_drawer_socials {
  margin-bottom: 24px;
}

.header_drawer_socials--items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header_drawer_socials--item {
  margin-right: 24px;
  margin-bottom: 24px;
}

.header_drawer_blog {
  margin-bottom: 24px;
  width: 100%;
}

.header_drawer_blog--item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}

.header_drawer_blog--item .image {
  border-radius: 6px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 56px;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  height: 56px;
  overflow: hidden;
}

.header_drawer_blog--item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header_drawer_blog--item span {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #252525;
  padding: 5px 0;
  display: inline-block;
  border-bottom: 1px solid #ECECEC;
  margin-left: 16px;
}

.header_drawer_blog--item:hover .image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header_drawer_blog--item:hover span {
  border-bottom: 1px solid #CF5208;
}

.header_drawer_nav {
  display: none;
}

.header_drawer .btn {
  border-color: #E0E0E0;
}

@media (max-width: 1440px) {
  .header_drawer {
    width: 60%;
    padding: 80px 90px;
    right: -60%;
  }
  .header_drawer-close {
    left: auto;
    right: 70px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 1200px) {
  .header_drawer {
    width: 65%;
    right: -65%;
    padding: 50px 65px;
  }
}

@media (max-width: 640px) {
  .header_drawer {
    width: 100%;
    right: -100%;
  }
}

@media (max-width: 480px) {
  .header_drawer {
    padding: 16px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .header_drawer_nav {
    display: block;
    width: 100%;
    margin-bottom: 48px;
  }
  .header_drawer_nav p {
    font-family: "TT Norms";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
    color: #252525;
    margin-bottom: 16px;
  }
  .header_drawer_nav ul {
    width: 100%;
    padding-left: 40px;
  }
  .header_drawer_nav ul li {
    margin-bottom: 16px;
  }
  .header_drawer_nav ul li:last-child {
    margin-bottom: 0;
  }
  .header_drawer_nav ul li a {
    position: relative;
    font-family: "TT Norms";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
    color: #252525;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_drawer_nav ul li a span {
    padding: 4px 0;
    border-bottom: 1px solid #ECECEC;
  }
  .header_drawer_nav ul li a:before {
    width: 24px;
    height: 24px;
    position: absolute;
    content: '';
    background-image: url(../img/icons/left-arrow-black.svg);
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center;
    left: -40px;
    top: auto;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .header_drawer_nav ul li a:hover span {
    border-color: #CF5208;
  }
  .header_drawer h5 {
    font-family: "TT Norms";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-feature-settings: 'liga' off;
            font-feature-settings: 'liga' off;
    color: #252525;
    margin-bottom: 16px;
  }
  .header_drawer_socials--item {
    font-size: 14px;
  }
  .header_drawer-close {
    right: 16px;
    top: 30px;
  }
}

.drawer_active {
  overflow: hidden;
  padding-right: 17px;
}

.drawer_active header .logo_block {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.drawer_active main {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.drawer_active .header_drawer {
  right: 0;
  -webkit-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.drawer_active .header_drawer-close span img {
  opacity: 0;
}

.drawer_active .header_drawer-close span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.4s ease 0.3s;
  -o-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
  opacity: 1;
}

.drawer_active .header_drawer-close span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.4s ease 0.3s;
  -o-transition: 0.4s ease 0.3s;
  transition: 0.4s ease 0.3s;
  opacity: 1;
}

.drawer_active .header_drawer_overlay {
  left: 0;
}

@media (max-width: 1024px) {
  .drawer_active {
    padding-right: 0;
  }
}

.hero {
  padding-bottom: 165px;
}

.hero .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.hero_title {
  max-width: 415px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 145px;
}

.hero_title h1 {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 700;
  font-size: 102px;
  line-height: 1.1;
  color: #FFFFFF;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-animation: slideIn 0.6s ease forwards 0.1s;
          animation: slideIn 0.6s ease forwards 0.1s;
}

.hero_title h1 span {
  color: #802F00;
}

.hero_title a {
  margin-left: auto;
  opacity: 0;
  -webkit-animation: slideIn 0.6s ease forwards 0.3s;
          animation: slideIn 0.6s ease forwards 0.3s;
}

.hero_text {
  font-size: 21px;
  line-height: 34px;
  color: #BDBDBD;
  max-width: 375px;
  margin-left: 12%;
  width: 100%;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease forwards 0.4s;
          animation: fadeIn 0.5s ease forwards 0.4s;
}

.hero_features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero_features-item:nth-child(1) {
  opacity: 0;
  -webkit-animation: slideUpFeat 0.5s ease forwards 0.2s;
          animation: slideUpFeat 0.5s ease forwards 0.2s;
}

.hero_features-item:nth-child(2) {
  opacity: 0;
  -webkit-animation: slideUpFeat 0.5s ease forwards 0.4s;
          animation: slideUpFeat 0.5s ease forwards 0.4s;
}

.hero_features-item:nth-child(3) {
  opacity: 0;
  -webkit-animation: slideUpFeat 0.5s ease forwards 0.6s;
          animation: slideUpFeat 0.5s ease forwards 0.6s;
}

.hero_image {
  position: absolute;
  right: -15%;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 717px;
  opacity: 0;
  -webkit-animation: fadeIn 0.7s ease-out forwards 0.2s;
          animation: fadeIn 0.7s ease-out forwards 0.2s;
}

.hero_image::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  bottom: -65px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.39%, rgba(30, 30, 30, 0)), color-stop(69.36%, #1E1E1E));
  background: -o-linear-gradient(top, rgba(30, 30, 30, 0) 32.39%, #1E1E1E 69.36%);
  background: linear-gradient(180deg, rgba(30, 30, 30, 0) 32.39%, #1E1E1E 69.36%);
}

@media (max-width: 1440px) {
  .hero_title {
    position: relative;
    z-index: 1;
    margin-bottom: 115px;
  }
  .hero_title h1 {
    font-size: 85px;
  }
  .hero_text {
    margin-left: 5%;
    position: relative;
    z-index: 1;
  }
  .hero_image {
    height: 95%;
    left: 60%;
    right: auto;
    width: 50%;
    max-width: 700px;
  }
  .hero_image img {
    max-height: 100%;
  }
}

@media (max-width: 1200px) {
  .hero_text {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .hero_title {
    width: 100%;
    margin-right: 15%;
    margin-bottom: 65px;
    max-width: 425px;
  }
  .hero_title h1 {
    font-size: 102px;
    margin-bottom: 25px;
  }
  .hero_title a {
    margin-left: auto;
    margin-right: 0;
  }
  .hero_text {
    width: auto;
    margin-left: 0;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 95px;
    max-width: 375px;
  }
  .hero_features {
    z-index: 1;
  }
  .hero_image {
    width: 200%;
    left: 38%;
    right: auto;
    max-width: 720px;
    height: auto;
  }
}

@media (max-width: 640px) {
  .hero {
    padding-top: 50px;
  }
  .hero_image {
    width: 100%;
    position: relative;
    left: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .hero_image::after {
    bottom: -30px;
  }
  .hero_title {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero_text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero_text br {
    display: none;
  }
  .hero_features {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 35px;
    padding-bottom: 80px;
  }
  .hero_title {
    margin-bottom: 50px;
  }
  .hero_title h1 {
    font-size: 72px;
  }
  .hero_text {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
  }
  .hero_features {
    margin-right: -16px;
    width: calc(100% + 16px);
  }
}

.pros {
  padding-bottom: 95px;
}

.pros h3 {
  max-width: 400px;
  margin-left: 41%;
  color: #BDBDBD;
  margin-bottom: 64px;
  position: relative;
}

.pros h3 span {
  color: #fff;
}

.pros_wrapper {
  max-width: 495px;
  margin-left: 41%;
  display: block;
}

.pros_items {
  max-width: 100%;
  padding-top: 64px;
  border-top: 1px solid #414141;
  position: relative;
  margin-bottom: 16px;
  display: block;
}

.pros_items-item {
  position: relative;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #FFFFFF;
  margin-bottom: 32px;
  display: inline-block;
}

.pros_items-item:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 9px;
  background-image: url(../img/icons/check-arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: -40px;
  top: 10px;
}

@media (max-width: 1440px) {
  .pros h3 {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 495px;
  }
  .pros_wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .pros h3 {
    font-size: 44px;
    margin-bottom: 35px;
  }
  .pros_items {
    padding-top: 35px;
  }
}

@media (max-width: 768px) {
  .pros h3 {
    font-size: 38px;
  }
  .pros_items-item {
    font-size: 18px;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .pros_items {
    padding-left: 40px;
  }
}

.featured_projects {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-bottom: 140px;
}

.featured_projects_wrapper {
  width: 100%;
  margin-bottom: 48px;
}

.featured_projects .accordion_item {
  width: 100%;
  position: relative;
}

.featured_projects .accordion_item:last-of-type {
  border-bottom: 1px solid #414141;
}

.featured_projects .accordion_item--toggle {
  padding: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #414141;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.featured_projects .accordion_item--toggle::after {
  content: '';
  position: absolute;
  right: 50px;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/plus.svg);
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
}

.featured_projects .accordion_item--toggle .preview {
  position: absolute;
  width: 270px;
  height: 188px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transform: rotate(-30deg) scale(0.6);
      -ms-transform: rotate(-30deg) scale(0.6);
          transform: rotate(-30deg) scale(0.6);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  right: 100%;
  opacity: 0;
  z-index: 1;
}

.featured_projects .accordion_item--toggle .preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.featured_projects .accordion_item--toggle:hover {
  background-color: #252525;
}

.featured_projects .accordion_item--toggle:hover .preview {
  -webkit-transform: rotate(-7deg) scale(0.9);
      -ms-transform: rotate(-7deg) scale(0.9);
          transform: rotate(-7deg) scale(0.9);
  right: 110%;
  opacity: 1;
}

.featured_projects .accordion_item--title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured_projects .accordion_item--content {
  padding: 0 23px;
  padding-bottom: 64px;
  padding-top: 16px;
  width: 100%;
}

.featured_projects .accordion_item--content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.featured_projects .accordion_item--content-wrap .image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured_projects .accordion_item--content-wrap .image img {
  width: 100%;
}

.featured_projects .accordion_item--content-wrap .text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding-left: 48px;
  max-width: calc(315px + 48px);
}

.featured_projects .accordion_item--content-wrap .text p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  margin-bottom: 18px;
}

.featured_projects .accordion_item.active {
  background-color: #252525;
}

.featured_projects .accordion_item.active .accordion_item--toggle .preview {
  -webkit-transform: rotate(-20deg) scale(0.6);
      -ms-transform: rotate(-20deg) scale(0.6);
          transform: rotate(-20deg) scale(0.6);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  right: 100%;
  opacity: 0;
}

.featured_projects .accordion_item.active .accordion_item--toggle::after {
  background-image: url(../img/icons/minus.svg);
}

.featured_projects .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured_projects .btn {
  margin-bottom: 24px;
}

@media (max-width: 1440px) {
  .featured_projects .accordion_item--toggle {
    padding: 25px 35px;
    font-size: 36px;
  }
  .featured_projects .accordion_item--toggle .preview {
    width: 200px;
    height: 132px;
  }
}

@media (max-width: 1200px) {
  .featured_projects .accordion_item--toggle {
    font-size: 30px;
  }
  .featured_projects .accordion_item--content-wrap .image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 55%;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
  }
}

@media (max-width: 1024px) {
  .featured_projects .accordion_item--toggle .preview {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .featured_projects .box {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .featured_projects .accordion_item--toggle {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 25px 16px;
    font-size: 24px;
    padding-right: 45px;
  }
  .featured_projects .accordion_item--toggle::after {
    right: 18px;
  }
  .featured_projects .accordion_item--content {
    padding-bottom: 30px;
  }
  .featured_projects .accordion_item--content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .featured_projects .accordion_item--content-wrap .image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    margin-bottom: 24px;
  }
  .featured_projects .accordion_item--content-wrap .text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    padding-left: 0;
    max-width: 315px;
  }
}

@media (max-width: 480px) {
  .featured_projects {
    padding-bottom: 80px;
  }
}

.offwork .box {
  max-width: 975px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.offwork .image {
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(65, 65, 65, 0.1)) drop-shadow(0px 8px 16px #1F1209) drop-shadow(0px 16px 32px #1F1209);
          filter: drop-shadow(0px 0px 4px rgba(65, 65, 65, 0.1)) drop-shadow(0px 8px 16px #1F1209) drop-shadow(0px 16px 32px #1F1209);
  border-radius: 10px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.offwork .image img {
  width: 100%;
}

.offwork .text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
  width: 100%;
}

.offwork .text p {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% - 150px);
      -ms-flex: 0 0 calc(100% - 150px);
          flex: 0 0 calc(100% - 150px);
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.offwork .text .btn {
  margin-bottom: 20px;
}

.offwork .offwork_btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 32px;
  margin-bottom: 48px;
  cursor: pointer;
}

.offwork .offwork_btn:after {
  content: '';
  position: absolute;
  height: 16px;
  width: 12px;
  background-image: url(../img/icons/arrow-down.svg);
  left: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
}

@media (max-width: 1200px) {
  .offwork .image {
    width: 90%;
  }
  .offwork .text {
    width: 90%;
  }
  .offwork .text p {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .offwork .image {
    width: 100%;
  }
  .offwork .text {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
  .offwork .text p {
    font-size: 16px;
  }
}

.form_section {
  margin-bottom: 95px;
}

.form_section .section_title {
  width: 40%;
  text-align: right;
  margin-bottom: 24px;
}

.form_section form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_section form p {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form_section form p br {
  display: none;
}

.form_section form p label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #FFFFFF;
  font-size: 52px;
  margin-bottom: 24px;
  display: block;
  text-align: right;
}

.form_section form p .wpcf7-form-control-wrap {
  margin-left: 24px;
  margin-bottom: 24px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #767676;
  font-size: 52px;
  margin-bottom: 35px;
  display: block;
  text-align: right;
  position: relative;
}

.form_section form p .wpcf7-form-control-wrap input {
  border-bottom: 2px solid #767676;
  color: #fff;
  width: 100%;
}

.form_section form p .wpcf7-form-control-wrap input.wpcf7-not-valid {
  border-color: #8B0000;
}

.form_section form p .wpcf7-form-control-wrap input:focus {
  border-color: #802F00;
}

.form_section form p .wpcf7-form-control-wrap textarea {
  border-bottom: 2px solid #767676;
  color: #fff;
  width: 100%;
  resize: vertical;
}

.form_section form p .wpcf7-form-control-wrap textarea.wpcf7-not-valid {
  border-color: #8B0000;
}

.form_section form p .wpcf7-form-control-wrap textarea:focus {
  border-color: #802F00;
}

.form_section form p .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  position: absolute;
  padding: 5px 12px;
  background: #8B0000;
  background-color: #8B0000;
  border-radius: 6px;
  left: 0;
  top: calc(100% + 4px);
  font-family: "TT Norms";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
  padding-left: 34px;
}

.form_section form p .wpcf7-form-control-wrap .wpcf7-not-valid-tip:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url(../img/icons/alert.svg);
  width: 12px;
  height: 12px;
}

.form_section form .agreement_row {
  width: 100%;
  padding-left: calc(40% + 24px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.form_section form .agreement_row br {
  display: none;
}

.form_section form .agreement_row .wpcf7-form-control {
  position: relative;
}

.form_section form .agreement_row .wpcf7-form-control .wpcf7-list-item input {
  display: none;
}

.form_section form .agreement_row .wpcf7-form-control .wpcf7-list-item input:checked ~ .wpcf7-list-item-label {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.90909L5.375 10L15 1' stroke='%23CF5208' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
  border-color: #CF5208;
}

.form_section form .agreement_row .wpcf7-form-control .wpcf7-list-item .wpcf7-list-item-label {
  font-size: 0px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: #fff;
  border: 2px solid #767676;
  display: block;
  margin-right: 15px;
  cursor: pointer;
}

.form_section form .agreement_row .wpcf7-form-control .wpcf7-list-item .wpcf7-list-item-label:active {
  border-color: #CF5208;
}

.form_section form .agreement_row .wpcf7-form-control.wpcf7-not-valid .wpcf7-list-item .wpcf7-list-item-label {
  border-color: #8B0000;
}

.form_section form .agreement_row .wpcf7-not-valid-tip {
  position: absolute;
  padding: 5px 12px;
  background: #8B0000;
  background-color: #8B0000;
  border-radius: 6px;
  left: 0;
  top: calc(100% + 4px);
  font-family: "TT Norms";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
  padding-left: 34px;
  white-space: nowrap;
}

.form_section form .agreement_row .wpcf7-not-valid-tip:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url(../img/icons/alert.svg);
  width: 12px;
  height: 12px;
}

.form_section form .agreement_row .wpcf7-form-control-wrap {
  position: relative;
}

.form_section form .agreement_row label {
  line-height: 1.5;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
}

.form_section form .agreement_row label a {
  color: #fff;
  border-bottom: 1px solid #767676;
  display: inline-block;
}

.form_section form .agreement_row label a:hover {
  border-color: #CF5208;
}

.form_section form .agreement_row label a:active {
  border-color: #802F00;
}

.form_section form .btn {
  margin-left: calc(40% + 24px);
}

@media (max-width: 1440px) {
  .form_section .section_title {
    font-size: 40px;
  }
  .form_section form p label {
    font-size: 40px;
  }
  .form_section form p .wpcf7-form-control-wrap {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .form_section .section_title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .form_section form p label {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .form_section form p .wpcf7-form-control-wrap {
    font-size: 32px;
    margin-bottom: 28px;
  }
  .form_section form p .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
    font-size: 12px;
    padding: 3px 10px;
    padding-left: 32px;
  }
}

@media (max-width: 640px) {
  .form_section .section_title {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
    font-size: 24px;
  }
  .form_section form p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_section form p label {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    text-align: left;
    margin-bottom: 8px;
    font-size: 24px;
  }
  .form_section form p .wpcf7-form-control-wrap {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: 0;
    margin-bottom: 34px;
    font-size: 24px;
  }
  .form_section form .agreement_row {
    padding-left: 0;
  }
  .form_section form .agreement_row label {
    font-size: 14px;
  }
  .form_section form .btn {
    margin-left: 0;
  }
}

.not_found {
  min-height: calc(100vh - 245px);
}

.not_found .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.not_found h1 {
  font-size: 102px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 32px;
}

.not_found p {
  text-align: center;
  margin-bottom: 24px;
}

.not_found .btn {
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 68px;
}

@media (max-width: 480px) {
  .not_found {
    padding-top: 45px;
  }
  .not_found h1 {
    font-size: 72px;
    line-height: 1.2;
    max-width: 188px;
  }
}

footer .box {
  border-top: 1px solid #414141;
  padding: 32px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .box .mailto {
  display: inline-block;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
  padding: 4px 0;
  border-bottom: 1px solid #414141;
}

footer .box .mailto:hover {
  border-color: #CF5208;
}

footer .box .mailto:active {
  border-color: #802F00;
}

footer .box .copyright {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
  padding: 4px 0;
  margin-left: auto;
}

footer .box .footer_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .box .footer_nav li {
  margin-left: 30px;
  position: relative;
}

footer .box .footer_nav li a {
  display: inline-block;
  padding: 4px 0;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
  border-bottom: 1px solid #414141;
  position: relative;
}

footer .box .footer_nav li a:hover {
  border-color: #CF5208;
}

footer .box .footer_nav li a:active {
  border-color: #802F00;
}

footer .box .footer_nav li a::before {
  content: '•';
  position: absolute;
  left: -17px;
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #fff;
}

@media (max-width: 1440px) {
  footer .box {
    padding: 28px 40px;
  }
}

@media (max-width: 1024px) {
  footer .box {
    padding: 22px 24px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  footer .box .copyright {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-left: 0;
  }
  footer .box .mailto {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .box .footer_nav {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
  }
  footer .box .footer_nav li {
    margin-left: 0;
    margin-right: 30px;
  }
  footer .box .footer_nav li:first-child a::before {
    display: none;
  }
}

@media (max-width: 640px) {
  footer .box .copyright {
    margin-bottom: 12px;
    font-size: 14px;
  }
  footer .box .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .box .footer_nav li {
    margin-bottom: 12px;
  }
  footer .box .footer_nav li a {
    font-size: 14px;
  }
  footer .box .footer_nav li a::before {
    display: none;
  }
  footer .box .mailto {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.modal {
  padding: 48px;
  max-width: 935px;
  width: 90%;
}

.modal .fancybox-close-small {
  color: #000;
  right: 30px;
  top: 30px;
}

.modal_title {
  color: #000;
  margin-bottom: 24px;
}

.modal_content {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-feature-settings: 'liga' off;
          font-feature-settings: 'liga' off;
  color: #252525;
  max-width: 90%;
  margin-bottom: 24px;
}

.modal_content ul {
  list-style: disc;
  padding-left: 20px;
}

.modal_content ol {
  padding-left: 20px;
  list-style: decimal;
}

@media (max-width: 480px) {
  .modal {
    padding: 25px 16px;
    width: 100%;
  }
  .modal_title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .modal_content {
    font-size: 14px;
    width: 100%;
    max-width: 100%;
  }
  .modal .fancybox-close-small {
    right: 6px;
    top: 20px;
  }
}

@media (max-width: 480px) {
  .fancybox-slide--html {
    padding: 0;
  }
}
